<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <h1>Liste des produits (<%= products.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titre Produit</th>
        <th>Prix produit</th>
        <th>Description produit</th>
        <th>Photo produit</th>
        <th>Région produit</th>
        <th>Categorie produit</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
          <td><%= product.ProduitTitre%></td>
          <td><%=product.produitPrix %></td>
          <td><%= product.ProduitDescrip %></td>
          <td><img src="/images/<%-product.ProduitPic %> " alt="<%- product.ProduitTitre %>"></td>
          <td><%= product.ProduitRegion %></td>
          <td><%= product.categorie %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= product.produit_ID %>">Modifier</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= product.Produit_ID %>">Effacer</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%= message %> 
        
     
</body>

</html>