<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>page produit</h1>
    
        <% products.forEach(function(product){ %>
            <h2><%- product.ProduitTitre %></h2>
          <p>tarif :<b><%- product.produitPrix %></b></p>
       <img src="/images/<%-product.ProduitPic %> " alt="<%- product.ProduitTitre %>">
    
          <hr>
        <% }); %>
        <%= message %> 
     
</body>

</html>